
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Palanquin', sans-serif;
    
/* 
    background-color: #290000; */
}

@media only screen and (max-width){
    
}
.logo-box{
    float: left;
    margin-right: auto;
    
}
.logo-box:hover{
    cursor: pointer;
    transform: rotate(-10deg);
    transition-duration: 0.5s;
    
    
}
.logo-box , .logo h1{
    font-size: 38px; 
    display: inline;
    line-height: 30px;
    
}

.logo-box , .slogan{
    font-size: 18px;
    display: inline;
    padding-top: 15px;
    color: rgb(219, 241, 16);
    font-weight: 900;
}
/* .menu{
    float: left;
} */
.menu nav{
    text-align: right;
}
.menu nav ul{
    list-style-type: none;
}
.menu nav ul li{
    display: inline-block;
    background-color: orange;
    background-repeat: none;
    border-radius: 10px;
}
.menu nav ul li a{
    text-decoration: none ;
    text-transform: uppercase;
    padding: 10px 20px;
    color: black;
    font-weight: 900;
    border-radius: 20px;
}
.menu nav ul li a:hover , .active{
    background-color: #76c38f;
    height:10px ;
    width: 12px;
    transition:0.8s ;

}
.home-slider{
    color: rgb(254, 255, 254);
    font-weight: 600;
}
.home-slider{
    padding: 80px  /*8*/0px;
    margin: 0px 0px;
}

.home-slider .slider-image{
    height: 380px;
    width: 380px;

}
.home-slider .slider-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 20px solid grey;
}
.home-slider .slider-content  button ,span{
    background-color: #76c38f;
    margin: 30px 0px;
    padding: 2px 6px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    

}
.home-slider .slider-content button:hover{
    cursor: pointer;
    
}
.slider-content{
    width: 50%;
    margin-right: auto;

}
.slider-content h2{
    font-size: 61px;
    line-height: 60px;
    padding-bottom: 20px;
    
    
}
.slider-image{
    width: 50%;
}





header{
    background-image: url(src/img/3qprlxnkn8r21.jpg);
    
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover ;
}
.transparent-header{
    background-color: rgba(35,35,35,0.3);
    padding-top: 30px;

}
main{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    


}
.card{
    height: 550px;
    width: 300px;
    background-color: rgb(212, 57, 57);
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 30px 20px;
    line-height: 30px;
    box-shadow: 15px 15px 15px;
    margin: 20px auto;

}
.card h1{
    color: orange;
}
.card h3{
    color: rgb(236, 203, 13);
}

.card button{
    margin: 30px;
    background-color: orange;
    border-radius: 5px;
    padding: 2px 8px;
    border: none;
    color: blue;
    font-weight: 700;
}
.card button:focus{
    outline: none;
    

}
footer{
    height: auto;
    width:auto;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 60px;
    
}
footer .div1{
    height: 400px;
    width: 280px;
    border: 0px solid red;
    text-align: left;
    float: auto;
    margin:0px  auto;
    
    
}
footer .div1  a{
    text-decoration: none;
    text-align: left;
    color: greenyellow;
    
    
    
}
footer .div1 h1{
    color: white;
    font-weight: lighter;
    padding: 10px 0px;
}
footer .div1 h3{
    padding: 20px 0px;
}
footer .quick a{
    border-bottom: 1px dotted rgb(59, 52, 52);
    line-height: 40px;
}
footer .div1 input{
    border-radius: 10px;
    
    padding: 5px 10px;
    margin: 13px 0px;
}
::placeholder{
    color: gray;
    
    
}
.message{
    height: 70px;
    
}
.foot{
        text-align: center;
    color: rgb(73, 13, 16);
    background-color: rgb(231, 245, 215);
    
    margin: 0px 0px 0px 0px ;
    padding: 20px 15px;
}



    




/* master css */
.container{
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    
}
/* master css */